.projects {
  margin-bottom: 1rem;
  padding-top: 4rem;
}

.projects h1 {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.projects h1::before,
.projects h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.projects h1::before {
  width: 70px;
  height: 3px;
}

.projects h1::after {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom: -0.7rem;
}

.projects__grid-item-wrapper {
  overflow: hidden;
  padding-top: 3rem;
}

.projects__grid-item {
  width: 90%;
  margin: 0 auto 3rem auto;
}

.projects__grid-item-image {
  text-align: center;
}

.projects__grid-item-image img {
  width: 100%;
}

.projects__grid-item-image-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.projects__grid-item-info h2 {
  font-weight: 300;
  margin: 1rem 0;
}

.projects__grid-item-info p {
  margin-bottom: 1rem;
  line-height: 22px;
}

.projects__grid-item-links {
  display: flex;
  justify-content: space-between;
}

.projects__grid-item-links a {
  color: #0496ff;
}

.projects__grid-item-links a:hover {
  @include font-gradient();
}

#blu-saphir {
  max-width: 250px;
}

#hangman {
  background-image: $hangman-background;
}

#pokedex {
  background-color: #ef5350;
}

#pokedex div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url("../../../assets/images/pokeball.png");
  background-size: cover;
}

#pokedex h2 {
  font-family: "pokemon", sans-serif;
  font-size: 4rem;
  letter-spacing: 4px;
  color: #faca48;
  -webkit-text-stroke: 1px #3b62a3;
  text-transform: capitalize;
}

#travel-site {
  background-image: url("../../../assets/images/travel-site-medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    color: #d59541;
    font-size: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .projects__grid-item-image-header {
    height: 210px;
  }

  .projects__grid-item-image {
    grid-area: image;
  }

  .projects__grid-item-info {
    grid-area: info;
  }

  .projects__grid-item-wrapper .projects__grid-item {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 50% 45%;
    grid-template-areas: "image info";
    align-items: center;
  }

  .projects__grid-item-wrapper:nth-child(even) .projects__grid-item {
    grid-template-columns: 45% 50%;
    grid-template-areas: "info image";
  }

  .projects__grid-item-info p {
    font-size: 0.9rem;
    line-height: 17px;
  }

  #blu-saphir {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .projects__grid-item-image-header {
    height: 240px;
  }

  .projects__grid-item-info p {
    font-size: 1rem;
    line-height: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .projects__grid-item-image-header {
    height: 260px;
  }
}

@media screen and (min-width: 1300px) {
  .projects__grid-item-image-header {
    height: 320px;
  }

  .projects__grid-item-info p {
    font-size: 1.2rem;
    line-height: 25px;
  }
}
