
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1{
  font-family:"The Historia Demo", sans-serif;
  font-size: 4rem;
  letter-spacing: .1rem;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h2 {
  font-size: 1rem;
  font-weight: 300;
}