.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
}

.hero h1 {
  font-family: "The Historia Demo", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 0;
  @include font-gradient();
}

.hero h2 {
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (min-width: 376px) {
  .hero h1 {
    font-size: 5rem;
  }

  .hero h2 {
    font-size: 1rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 600px) {
  .hero h1 {
    font-size: 8rem;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    bottom: 0px;
  }

  .hero h1 {
    font-size: 10rem;
  }
}

@media screen and (min-width: 1000px) {
  .hero h1 {
    font-size: 14rem;
  }
}
