.projects {
  margin-bottom: 10rem;
}

.projects h1 {
  position: relative;
  text-align: center;
  margin-bottom: 6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.projects h1::before,
.projects h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.projects h1::before {
  width: 70px;
  height: 3px;
}

.projects h1::after {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  bottom: -0.7rem;
}

.projects__grid-item-wrapper {
  overflow: hidden;
}

.projects__grid-item {
  width: 90%;
  margin: 0 auto 3rem auto;
}

.projects__grid-item-image {
  text-align: center;
}

.projects__grid-item-image img {
  width: 100%;
}

.hangman {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  background-image: $hangman-background;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#blu-saphir {
  max-width: 250px;
}

.projects__grid-item-info h2 {
  font-weight: 300;
  margin: 1rem 0;
}

.projects__grid-item-info p {
  margin-bottom: 1rem;
  line-height: 22px;
}

.projects__grid-item-links {
  display: flex;
  justify-content: space-between;
}

.projects__grid-item-links a {
  color: #0496ff;
}

.projects__grid-item-links a:hover {
  @include font-gradient();
}

@media screen and (min-width: 900px) {
  .projects h1 {
    font-size: 2.5rem;
  }

  .projects__grid-item-image {
    grid-area: image;
  }

  .projects__grid-item-info {
    grid-area: info;
  }

  .projects__grid-item {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 50% 45%;
    grid-template-areas: "image info";
    align-items: center;
  }

  .projects__grid-item:nth-child(even) {
    grid-template-columns: 45% 50%;
    grid-template-areas: "info image";
  }

  #blu-saphir {
    width: 70%;
  }
}

@media screen and (min-width: 1300px) {
  .hangman {
    height: 320px;
  }
}
